@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: rgb(22 163 74);
}

.icon {
    font-size: 8rem;
    color: rgb(22 163 74);
    border: 4px solid rgb(7, 99, 41);
    border-radius: 50%;
    margin-bottom: 1rem;
}

.heading {position: relative;}

.heading::before {
    content: '';
    height: 100%;
    width: 10px;
    display: block;
    position: absolute;
    background: rgb(22 163 74);
    top: 50%;
    left: -20px;
    transform: translateY(-45%);
}